{
  "API_BASE_URL": "https://tu-dominio-api.com",
  "WS_URL": "wss://tu-dominio-ws.com",
  "GRQL_API_KEY": "tu_api_key_aqui",
  "LAMBDA_COMPOSE": "",
  "DB_NAME": "GestionTallerProd",
  "DB_LAMBDAS": "codeLambdas",
  "DEFAULT_OWNER": "tu-owner-identifier",
  "ENVIRONMENT": "development"
}
